* {
  touch-action: pan-y;
}

.node-info {
  position: absolute;
  display: none;
  border-radius: 0.5em;
  background: #555;
}

.node-info ul {
  margin: 0;
  padding: 0.5em;
  list-style: none;
  color: #fff;
  font-size: 12px;
}

#time {
  float: left;
  width: 800px;
  margin: 25px;
}

#timeslide {
  width: 500px;
}

#container {
  width: 630px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 2px rgb(217, 217, 217);
}

#play-button {
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}
