<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Cascading Failure Simulation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="container">
      <button id="play-button">Play</button>
    </div>
    <select id="network-data-select">
      <option value="ieee-5">IEEE-5</option>
      <option value="ieee-9">IEEE-9</option>
      <option value="ieee-14">IEEE-14</option>
      <option value="ieee-30">IEEE-30</option>
    </select>
    <script src="bundle.js"></script>
  </body>
</html>
